<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}Exercise Tracker API</title>
</head>
<body>
    <header>
        {% block header %}
        <h1>Exercise Tracker API</h1>
        <h2>An exercise logging microservice</h2>
        {% endblock %}
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('user.all_users') }}">User List</a>
        {% if g.user %}
            <li><a href="{{ url_for('user.user_profile', userid=g.user['user_id'])}}">{{ g.user['username'] }}</span></li>
            <li><a href="{{ url_for('user.user_exercises', userid=g.user['user_id']) }}">Exercise List</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        Zach Berwaldt &copy; 2018
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>