<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Exercise Tracker API</title>
</head>
<body>
    <header>
        <h1>Exercise Tracker API</h1>
        <h2>An exercise logging microservice</h2>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main>
        <form id="add-user-form" class="post-form" action="api/exercise/new-user" method="post" autocomplete="off">
            <h2>Create a New User</h2>
            <code class="instructions">
                POST /api/exercise/new-user
            </code>   
            <label for="username">
                Username:
                <input type="text" name="username" id="username" placeholder="username" required pattern="\w+">
            </label>
            <input type="submit" value="Add User">
        </form>
        <form id="add-exercise-form" class="post-form" action="api/exercise/add" method="post" autocomplete="off">
            <h2>Add exercises</h2>
            <code class="instructions">
                POST /api/exercise/add
            </code>
            <label for="userId">
                User ID:
                <input type="text" name="user-id" id="userId" placeholder="user id" required pattern="\w+">
            </label>
                
            <label for="details">
                Description:
                <input type="text" name="details" id="details" placeholder="details" required pattern="/w+">
              
            </label>
            <label for="duration">
                Duration:
                <input type="text" name="duration" id="duration" placeholder="duration" required pattern="\d+">
              
            </label>
            <label for="date">
                Date:
                <input type="text" name="date" id="date" placeholder="date (YYYY-MM-DD)" required pattern="\d{4}-\d{2}-\d{2}">
            </label>
            <input type="submit" value="add exercise">
        </form>
        <div class="get-request-details">
            <p><strong>GET user's exercise log</strong> <code class="instructions">GET /api/exercise/log?{user_id}[&from][&to][&limit]</code></p>
            <p><strong>{}</strong>=required, <strong>[]</strong>=optional</p>
            <p><strong>from, to</strong>=dates(YYYY-MM-DD); <strong>limit</strong>=number (integer)</p>
            <p><strong>test ids:</strong> 00000000, 0abc0023</p>
        </div>
    </main>
    <footer>
        Zach Berwaldt &copy; 2018
    </footer>
</body>
</html>