<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Exercise Tracker API</title>
</head>
<body>
    <header>
        <h1>Welcome to the exercise tracker API</h1>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main>
        <form class="post-form" action="api/exercise/new-user" method="post">
            <h2>Create a New User</h2>   
            <label for="username">
                Username:
                <input type="text" name="username" id="username" placeholder="username">
            </label>
            <input type="submit" value="Add User">
        </form>
        <form class="post-form" action="api/exercise/add" method="post">
            <h2>Add exercises</h2>
            <label for="userId">
                User ID:
                <input type="text" name="user-id" id="userId" placeholder="user id" required></label>
                <span class="error"></span>
            <label for="description">
                Description:
                <input type="text" name="description" id="description" placeholder="description" required></label>
            <label for="duration">
                Duration:
                <input type="text" name="duration" id="duration" placeholder="duration" required pattern="\d"></label>
            <label for="date">
                Date:
                <input type="text" name="date" id="date" placeholder="date" required pattern="\d{4}-\d{2}-\d{2}"></label>
            <input type="submit" value="add exercise">
        </form>
        <div>
            <code>GET</code>
        </div>
    </main>
    <footer>
        Zach Berwaldt &copy; 2018
    </footer>
</body>
</html>