{% extends 'base.html' %}

{% block content %}
    <form class="post-form" name="login" autocomplete="off" method="post">
        <h2>User Log In</h2>
        <label for="username">
            Username:
            <input name="username" 
                   id="username" 
                   placeholder="Username:" 
                   required />
        </label>
        <label for="password">
            Password:
            <input type="password" 
                   name="password" 
                   id="password" 
                   required />
        </label>
        <input type="submit" value="Log In">
    </form>
{% endblock %}