{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Register {% endblock %}</h1>
{% endblock %}

{% block content %}
    <form class="post-form" 
          name="registration" 
          method="POST" 
          autocomplete="off">
        <h2>New User Registration</h2>
        <label for="username">
            Username:
            <input type="text" 
                   name="username" 
                   id="username" 
                   required 
                   pattern="\w+"/>
        </label>
        <label for="password">
            Password:
            <input type="password" 
                   name="password" 
                   id="password" 
                   required />
        </label>
        <hr>
        <span>Optional:</span>
        <hr>
        <label for="bio">
            Bio:
            <textarea name="bio"
                      id="bio"></textarea>
        </label>
        <label for="twitter">
            Twitter:
            <input type="text"
                   name="twitter"
                   id="twitter"/>
        </label>
        <label for="facebook">
            Facebook:
            <input type="text"
                   name="facebook"
                   id="facebook"/>
        </label>
        <label for="instagram">
            Instagram:
            <input type="text"
                   name="instagram"
                   id="instagram"/>
        </label>
        <input id="registration-submit" 
               type="submit" 
               value="Register" />
    </form>
    <p>Already have a profile?: <a href="{{url_for('auth.login')}}">Login</a></p>
{% endblock %}