{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Register {% endblock %}</h1>
{% endblock %}

{% block content %}
    <form class="post-form" 
          name="registration" 
          method="POST" 
          autocomplete="off">
        <h2>New User Registration</h2>
        <label for="username">
            Username:
            <input type="text" 
                   name="username" 
                   id="username" 
                   required 
                   pattern="\w+"/>
        </label>
        <label for="password">
            Password:
            <input type="password" 
                   name="password" 
                   id="password" 
                   required />
        </label>
        <input id="registration-submit" 
               type="submit" 
               value="Register" />
    </form>
{% endblock %}