html {
    font-size: 16px;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body, .post-form label {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    background: hsla(0, 0%, 92%, 1);
}

main {
    flex-grow: 2;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

header, footer {
    background: rgb(60, 71, 69);
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}

header {
    padding: 16px;
    flex-direction: column;
    box-shadow: 0 1px 3px 2px hsla(0, 0%, 0%, .4);
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 8px;
}

footer {
    height: 125px;
    font-weight: 800;
}

code.instructions {
    margin: 8px 0;
    background: rgb(232, 233, 174);
    padding: 2px;
}

.error {
    border-radius: 2px;
    color: rgba(255, 255, 255, .9);
    background: rgb(209, 36, 36);
    font-weight: 800;
    padding: 16px;
    box-shadow: 0 1px 3px 2px hsla(0, 0%, 0%, .4);
    min-width: 75%;
    margin: 16px auto;
    position: fixed;
    bottom: 5%;
    animation: flashMessage 2s ease-in-out 0s 1 normal forwards;
}

.post-form {
    background: hsla(150, 0%, 98%, 1);
    box-shadow: 0 3px 6px 1px hsla(0, 0%, 0%, .2);
    border-radius: 3px;
    border: 1px solid #dddfe2;
    padding: 16px;
    margin-top: 16px;
    min-width: 350px;
    display: inline-flex;
    flex-direction: column;
}

.post-form label {
    margin: 4px 0;
}

.get-request-details {
    margin: 0 auto;
}

#add-user-form::before, #add-exercise-form::before {
    content: '* All fields are required';
    margin-bottom: 8px;
}

#add-user-form::before, 
#add-exercise-form::before,
label[for='duration']::after,
label[for='details']::after,
label[for='date']::after,
label[for='userId']::after,
label[for='username']::after
{
    color: hsla(0, 0%, 0%, .4);
    font-size: 10px;
}

label[for='duration']::after {
    content: '* In minutes';
}

label[for='details']::after {
    content: '* text only'
}

label[for='date']::after {
    content: '* Formatted as: YYYY-MM-DD'
}

label[for='userId']::after {
    content: '* Use provided ID, no recovery currently possible.'
}

label[for='username']::after {
    content: '* Any alphanumeric characters'
}

.bugs-message {
    position: fixed;
    left: 8px;
    bottom: 8px;
    width: 175px;
    padding: 8px;
    background: white;
    box-shadow: 0 6px 12px 2px hsla(0, 0%, 0%, .8);
    border-radius: 3px;
    border: 1px solid #dddfe2;
}

@keyframes flashMessage {
    0% {
        opacity:0;
        transform: translateY(-25px);
    }

    25% {
        opacity:1;
        transform: translateY(0px);
    }

    75% {
        opacity:1;
        transform: translateY(0px);
    }

    100% {
        opacity:0;
        transform: translateY(25px);
    }
}