html {
    font-size: 16px;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body, .post-form label {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    background: hsla(0, 0%, 92%, 1);
}

main {
    flex-grow: 2;
    max-width: 1024px;
    margin: 0 auto;
}

header, footer {
    background: rgb(60, 71, 69);
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}

header {
    padding: 16px;
    flex-direction: column;
    box-shadow: 0 1px 3px 2px hsla(0, 0%, 0%, .4);
}

footer {
    height: 125px;
    font-weight: 800;
}

code.instructions {
    margin: 8px;
    background: rgb(232, 233, 174);
    padding: 2px;
}

.error {
    border-radius: 5px;
    color: rgba(255, 255, 255, .9);
    background: rgb(209, 36, 36);
    font-weight: 800;
    padding: 24px 16px;
    box-shadow: 0 1px 3px 2px hsla(0, 0%, 0%, .4);
    min-width: 75%;
    margin: 16px auto;
}

.post-form {
    background: hsla(150, 0%, 98%, 1);
    box-shadow: 0 3px 6px 1px hsla(0, 0%, 0%, .2);
    border-radius: 5px;
    padding: 16px;
    margin: 32px;
    min-width: 350px;
    display: inline-flex;
    flex-direction: column;
}

.post-form label {
    margin: 8px 0;
}

