{% extends 'base.html' %}


{% block title %}

{% if user.username %}{{user.username}}'s{% else %} Anonymous {% endif %} profile
{% endblock %}

{% block content %}
{% if user.user_id == g.user['user_id'] and g.user %}
    <p>You are the owner of this profile.</p>
{% endif %}
    {% if user is not none %}
    <article class="user profile">
    <h2> {{user.username}}'s Profile </h2>
    <section class="info">
        <h3>User Bio</h3>
        <hr/>
    </section>
    <section class="social">
        <h3>User Social</h3>
        <hr />
        <span>Twitter:</span>
        {% if user.twitter %}
        <a rel="noopenner" 
        target="_blank" 
        href="{{user.twitter}}">Twitter</a>
        {% else %}
        No twitter
        {% endif %}
        <span>Github:</span>
        {% if user.github %}
        <a rel="noopenner" target="_blank" href="{{user.github}}">Github</a>
        {% else %}
        No github
        {% endif %}
    </section>
    <section class="exercise-list" data-id="{{ user.userid }}">
        <table>
            <thead>
                <tr>
                    <th colspan="6">Exercises</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">ID</td>
                    <td scope="col">Details</td>
                    <td scope="col">Duration</td>
                    <td scope="col">Date</td>
                    {% if user.userid == g.user['user_id'] %}
                    <td scope="col">Edit</td>
                    <td scope="col">Delete</td>
                    {% endif %}
                </tr>
                <tr class="exercise">
                    <td colspan="6">No exercises logged yet.</td>
                </tr>
            </tbody>
        </table>
        
    {% if user.userid == g.user['user_id'] %}
        <a href="{{url_for('api.add_exercises')}}">Add Exercise</a>
    {% endif %}
    </section>
    {% else %}
        <p>This user has not created their profile yet.</p>
        <a href="{{url_for('index')}}">Home</a>
    {% endif %}
    {% if user.user_id == g.user['user_id'] and g.user %}
    <form id="delete-account" action="{{ url_for('auth.delete_account')}}">
        <input type="submit" value="Delete Account"/>
    </form>
    {% endif %}
    </article>
{% endblock %}

{% block scripts %}
 <script defer src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}